<div class="row">
  <div class="col-12 center-everything">
    <div class="row eighty-width">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <a routerLink="" fragment="home">Home</a> &bull; 
            <a routerLink="" fragment="contact">Contact</a> &bull; 
            <a routerLink="" fragment="faq">FAQ</a> &bull; 
            <a routerLink="" fragment="resources">Resources</a> &bull; 
            <a routerLink="accessibility-commitment">Accessibility Commitment</a>
            <br/><br/>
          </div>
          <div class="col-md-4 no-padding">
            Georgia Client Assistance Program<br/>
            <br/>
            123 N. McDonough Street<br/>
            Decatur, Georgia 30030<br/>
            <br/>
          </div>
          <div class="col-md-4 no-padding">
            Toll-Free: <a href="tel:8008229727">(800) 822-9727</a><br/>
            Atlanta Area: <a href="tel:4043732040">(404) 373-2040</a><br/>
            <br/>
            <a href="mailto:GACAPDirector@georgiacap.com">GACAPDirector@georgiacap.com</a><br/>
            <br/>
          </div>
          <div class="col-md-4 no-padding">
            <img class="footer-image" src="assets/images/gaCapLogo.svg" alt="georgia cap logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>