<div class="row">
  <div class="col-12">
    <mat-card class="full-width">
      <h1 id="main-content">Accessibility Statement</h1>
      <mat-card-content>
        <p>Georgia Client Assistance Program (GA CAP) is committed to making all our electronic and information technologies accessible to individuals with disabilities by meeting or exceeding the requirements of Section 508 of the Rehabilitation Act (29 U.S.C. 794d), as amended in 1998. Section 508 is a federal law that requires agencies to provide individuals with disabilities equal access to electronic information and data comparable to those who do not have disabilities, unless an undue burden would be imposed on the agency.</p>
        <p>The GA CAP website has passed required accessibility testing and reviews. However, archived materials vary in their degree of accessibility since many of them were created prior to Section 508.</p>
        <p>If you use assistive technology (such as a screen reader, eye tracking device, voice recognition software, etc.) and have difficulty accessing information on the GA CAP website, please contact us at at <a href="mailto:help@georgiacap.com">help@georgiacap.com</a>a> and provide the URL (web address) of the web page you tried to access, the problem you experienced, and your contact information so we can assist you.</p>
        <p>To learn more about accessibility requirements for electronic and information technology, please visit <a target="_blank" href="http://www.section508.gov">www.section508.gov</a></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>