.mat-card {
  height: 100%;
  text-align: left;
}
.mat-expansion-panel-header {
  height: 100% !important;
  padding: 10px;
}
.darker-hover:hover {
  background: grey !important;
}
@media (min-width:992px){


  .mat-card {
    padding-left: 40px;
    padding-right: 40px;
  }

}