<div class="row" id="home">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <h1>The Georgia Client Assistance Program</h1>
        <img class="header-image" src="assets/images/gaCapLogo.svg" alt="Georgia Client Assistance Program">
        <p><strong>A division of the Law Offices of Martin and Jones</strong></p>
        <p>Jennifer Page - CAP Director <br/>
        Stephanie Woods MS, CRC - Counselor/Advocate</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 full-width">
    <mat-card>
      <mat-card-content>
        <img class="main-page-image" src="assets/images/reading.jpg" alt="reading braille in the park">
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6 full-width">
    <mat-card>
      <mat-card-content>
          <h2>Welcome to the Georgia Client Assistance Program</h2>
          <p>Thank you for visiting the Georgia Client Assistance Program (CAP).</p>
          <p>The CAP is for Vocational Rehabilitation clients and client applicants who are seeking or receiving services from a project, program or facility funded under the Rehabilitation Act.</p>
      </mat-card-content>
    </mat-card>  
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card class="full-width">
      <h2 id="main-content">What is the Client Assistance Program?</h2>
      <mat-card-content>
        <p>Client Assistance Programs are funded by the U. S. Department of Education in all states as part of grants for Vocational Rehabilitation of individuals with disabilities. The Georgia Department of Labor Vocational Rehabilitation Program has privatized the management and operation of the Client Assistance Program to be administered by Martin and Jones. The Client Assistance Program, helps people with disabilities who are seeking or receiving vocational rehabilitation services by:</p>
        <div class="row" style="text-align: start;">
          <div class="col-md-6">
            <p><strong>Providing information</strong> about the federal Rehabilitation Act, including:</p>
            <ul>
              <li>How the state can help you get, keep or advance in work</li>
              <li>How you qualify</li>
              <li>How you pilot your own rehabilitation</li>
              <li>The purpose of the Rehabilitation Act</li>
              <li>Your rights under the Act</li>
            </ul>
            <p><strong>Assisting</strong> individuals who have problems applying for or receiving services under the Act.</p>
            <p><strong>Teaching</strong> you how to make requests</p>      
          </div>
          <div class="col-md-6">
            <p><strong>Referring</strong> you to other agencies where helpful</p>
            <p><strong>Negotiating</strong> for you</p>
            <p><strong>Mediating</strong> disputes</p>
            <p><strong>Advocating</strong> for you with the agency and others</p>
            <p><strong>Presenting</strong> your requests to the agency</p>
            <p><strong>Obtaining</strong> legal representation where we think it appropriate</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-card class="full-width image-col">
      <mat-card-content>
        <img class="secondary-image" src="assets/images/signing.jpg" alt="having a conversation in sign language">
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="full-width image-col">
      <mat-card-content>
        <img class="secondary-image" src="assets/images/couple.jpg" alt="couple smiling">
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-card class="full-width">
      <h2>What can the Client Assistance Program do for me?</h2>
      <mat-card-content>
        <p>If you have a problem with your vocational rehabilitation program or application, the Client Assistance Program can assist you in many ways, including:</p>
        <ul style="text-align: start;">
          <li>Advising you of your rights</li>
          <li>Solving communication problems</li>
          <li>Teaching you how to make requests</li>
          <li>Referring you to other agencies where helpful</li>
          <li>Negotiating for you</li>
          <li>Mediating disputes</li>
          <li>Advocating for you with the agency and others</li>
          <li>Presenting your requests to the agency</li>
          <li>Obtaining legal representation where we think it appropriate</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="full-width">
      <h2>When and how do I contact the Client Assistance Program?</h2>
      <mat-card-content>
        <p>You may call the Client Assistance Program for any of the following reasons:</p>
        <ul style="text-align: start;">
          <li>You want to know what is required to qualify for rehabilitation services</li>
          <li>You believe you qualify for rehabilitation services but are not allowed to complete an application</li>
          <li>You disagree with any decision to deny, stop or delay services</li>
          <li>You cannot get a written decision on a request you have made</li>
          <li>You are not allowed enough choice in your rehabilitation program</li>
          <li>You have a disability-related problem, and do not know where to go to get help</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row" id="resources">
  <div class="col-12">
    <mat-card class="full-width">
      <h2>Resources</h2>
      <mat-card-subtitle>Click to download</mat-card-subtitle>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <p><a href="/brochure">CAP Brochure</a></p>
            <p><a href="assets/files/CAP Intake info.docx" download>CAP Intake Information (.DOCX)</a></p>
          </div>
          <div class="col-md-6">
            <p><a href="assets/files/JP CAP NOR.docx" download>Notice of Representation - Jennifer Page (.DOCX)</a></p>
            <p><a href="assets/files/SW CAP NOR.docx" download>Notice of Represenetation - Stephanie Woods (.DOCX)</a></p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-card class="full-width image-col">
      <mat-card-content>
        <img class="secondary-image" src="assets/images/student.jpg" alt="students in class">
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="full-width image-col">
      <mat-card-content>
        <img class="secondary-image" src="assets/images/laptop.jpg" alt="smiling woman in a wheelchair using her computer">
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row" id="contact">
  <div class="col-12">
    <mat-card>
      <h2>Contact</h2>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Toll-free telephone call state wide:</strong><br/>
              <a href="tel:800-822-9727"><span class="visually-hidden">Toll-free telephone call state wide</span>(800) 822-9727</a>
            </p>
            <p>
              <strong>Atlanta area:</strong><br/>
              <a href="tel:404-373-2040"><span class="visually-hidden">Atlanta area</span>(404) 373-2040</a><br/>
            </p>
            <p>
              <strong>Georgia Relay Service:</strong><br/>
              <a href="tel:800-255-0135"><span class="visually-hidden">Georgia Relay Service</span>(800) 255-0135</a>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Address:</strong><br/>
              <a href="https://goo.gl/maps/Sk8FajCk7122" target="_blank">123 N. McDonough Street<br/>
              Decatur, Georgia 30030</a>
            </p>
            <p>
              <strong>Email:</strong><br/>
              <a href="mailto:GACAPDirector@georgiacap.com">GACAPDirector@georgiacap.com</a>
            </p>
            <p><strong>Fax:</strong><br/>
              (404) 373-4110
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row" id="faq">
  <div class="col-12">
    <app-faq></app-faq>
  </div>
</div>