.header-image {
  height: 20em;
  width: auto;
}
.image-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.list-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-page-image {
  width: 100%;
  height: auto;
}
.mat-card {
  height: 100%;
  text-align: center;
}
.secondary-image {
  width: 100%;
  height: auto;
}
mat-card-subtitle {
  color: black;
}