<div class="row">

    <div class="col-md-4">
        <mat-card>
          <mat-card-title><h2>What is CAP?</h2></mat-card-title>
          <mat-card-content>
            <p>The Client Assistance Program helps people with disabilities who are seeking or receiving vocational rehabilitation services by providing information about the federal Rehabilitation Act, including: </p>

            <ul style="text-align: start;">
              <li>How the state can help you get, keep or advance in work </li>
              <li>How you qualify</li>
              <li>How you pilot your own rehabilitation</li>
              <li>The purpose of the Rehab. Act</li>
              <li>Your rights under the act</li>
              <li>Assisting individuals who have problems applying for or receiving services under the Act</li>
            </ul>
            <img class="secondary-image" src="assets/images/сapitol.png" alt="capitol">
          </mat-card-content>
        </mat-card>
    </div>




       <div class="col-4">
          <mat-card>
              <mat-card-title> <h2>What can CAP do for me?</h2></mat-card-title>
        <mat-card-content>
        <p>If you have a problem with the Georgia Vocational Rehabilitation Agency or application, the Georgia Client Assistance Program can assist you in many ways, including: </p>

        <ul style="text-align: start;">
            <li>Advising you of your rights </li>
            <li>Solving communication problems </li>
            <li>Teaching you how to make requests </li>
            <li>Referring you to other agencies where helpful </li>
            <li>Negotiating for you</li>
            <li>Mediating disputes</li>
            <li>Advocating for you with the agency and others </li>
            <li>Presenting your requests to the agency</li>
            <li>Obtaining legal representation where we think it appropriate</li>
          </ul>
          <img class="secondary-image" src="assets/images/woman.png" alt="woman in wheelchair talking">
      </mat-card-content>
    </mat-card>
    </div>
 

 
      <div class="col-4">
          <mat-card>
              <mat-card-title><h2>When do I contact CAP?</h2></mat-card-title>
        <mat-card-content>
        <p>You may call the Client Assistance Program for any of the following reasons: </p>
        <ul style="text-align: start;">
            <li>You want to know what is required to qualify for rehabilitation services  </li>
            <li>You believe you qualify for rehabilitation services but are not allowed to complete an application  </li>
            <li>You disagree with any decision to deny, stop or delay services  </li>
            <li>You cannot get a written decision on a request you have made  </li>
            <li>You are not allowed enough choice in your rehabilitation program</li>
            <li>You have a disability related problem, and do not know where to go for help</li>
          </ul>
          <img class="secondary-image" src="assets/images/class.png" alt="students in class with teacher">
      </mat-card-content>
    </mat-card>
  </div>

</div>




<div class="row">
    <div class="col-md-6 full-width">
      <mat-card>
        <mat-card-content>
             
            <p>The State of Georgia has privatized the management and operation of the Client Assistance Program to be administered by the Law Offices of Martin and Jones. The staff of the Client Assistance Program includes: </p>


            <ul class="brochure-list">
                <li>Jennifer M. Page, Director</li>
                <li><a href="mailto:gacapdirector@georgiacap.com">gacapdirector@georgiacap.com</a></li>
                <li><a href="mailto:gacapdirector@georgiacap.com">jpage@georgiacap.com</a></li>
                <li>&nbsp;</li>
                <li>Stephanie Woods, Counselor/Advocate</li>
                <li><a href="mailto:swoods@georgiacap.com">swoods@georgiacap.com</a></li>
                <li>&nbsp;</li>
                <li>Georgia Client Assistance program</li>
                <li>123 North McDonough Street</li>
                <li>Decatur, Georgia 30030</li>
                <li>(404) 373-2040 [Voice]</li>
                <li>(800) 822-9727 [Toll Free]</li>
                <li>(404) 373-4110 [FAX]</li>
                <li>&nbsp;</li>
                <li><a href="http://www.georgiacap.com">http://www.georgiacap.com</a></li>
            </ul>



            


                <p>The Law Offices of Martin and Jones administers and conducts all programs and activities in accordance with the U.S. civil rights act which provide that no persons shall, on grounds of race, color, national origin, sex or disability be excluded benefits or be subject to discrimination under any program or activity receiving federal financial assistance. </p>


         </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 full-width">
      <mat-card>
          <mat-card-content>
              <mat-card-title><h2 id="main-content">Georgia Client Assistance Program (GaCAP)</h2></mat-card-title>
              <p>A division of the</p>
              <mat-card-subtitle><h3 id="main-content">Law Offices of Martin and Jones</h3></mat-card-subtitle>
              <img alt="georgia cap logo" class="brochure-image" src="assets/images/gaCapLogo.svg">
             
              <p>Assisting consumers of the Georgia Vocational Rehabilitation Agency actively participate in their rehabilitation process</p>
              <p>The GaCAP is a program for Vocational Rehabilitation clients and client applicants who are seeking or receiving services from a project, program, or facility funded under the Rehabilitation Act of 1973 as amended.</p>
  
  
                
  
           </mat-card-content>
      </mat-card>  
    </div>
  </div>
  

   