<mat-card class="full-width">
  <h2>Frequently Asked Questions</h2>
  <mat-card-content>
    
  <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          Do you provide services, such as housing, child care, or any other monetary services?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>No. However, CAP can assist with a referral to an agency/organization who provides those services. Contact us: <a href="tel:800-822-9727"><span class="visually-hidden">Toll-free telephone call state wide</span>(800) 822-9727</a> (toll-free), <a href="tel:404-373-2040"><span class="visually-hidden">Atlanta area</span>(404) 373-2040</a> or <a href="800-255-0135"><span class="visually-hidden">Georgia Relay Service</span>(800) 255-0135</a> (Georgia Relay Service)</p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          I want to open/reopen my case with GVRA. Which office serves my county?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Please visit <a href="https://gvs.georgia.gov/find-location">GVRA find a location</a> to search by city, county or zip code or <a href="https://gvs.georgia.gov/text-only-location-list">GVRA text only location list</a> to view a list of all GVRA offices and their counties served.  </p>

    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          Can CAP assist with third party entities, such as a provider a client has been sent to by VR?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>No, but depending on the issue/matter, GVRA’s Provider Relations Manager may be able to assist (<a href="tel:404-273-1864"><span class="visually-hidden">GVRA’s Provider Relations Manager</span>404-273-1864</a>).</p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          I’ve been denied for a service but need to reach my employment goal. Can CAP help?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Interested in becoming a CAP client so we can review your GVRA case file and negotiate on your behalf? If so, visit our “Resources” section to download & complete an Intake and Notice of Representation Form which can be submitted via:<br/>
        <strong>Email: </strong> <a href="mailto:GACAPDirector@georgiacap.com">GACAPDirector@georgiacap.com</a><br/>
        <strong>Fax:</strong> (404) 373-4110<br/>
        <strong>Mail:</strong> 123 N. McDonough Street Decatur, Georgia 30030</p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          Do you assist with Department of Education cases?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>No. The Georgia Advocacy Office can be of assistance though. Contact them at <a href="tel:404-885-1234"><span class="visually-hidden">Georgia Advocacy Office</span>404-885-1234</a> or via their <a href="http://thegao.org">website</a>.</p>

    </mat-expansion-panel>
        
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          I received a Notice of Change letter in the mail from GVRA. What does this mean?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Notices of Change (NOCs) are official documents used by GVRA to notify individuals of certain decisions and due process rights during the vocational rehabilitation (VR) process.  If your Notice of Change includes:
        <br/><br/>
        GVRA Policy Cite: 216.1.07 – Congratulations, GVRA has determined you’re eligible for their services! Contact your counselor to schedule your next appointment.
        <br/><br/>
        GVRA Policy Cite: 502.1.13 A-F or 502.1.14 A-S GVRA has either determined you’re ineligible for services and/or that an intervening reason exists for case closure. You have 30 days from the receipt of this letter to appeal your case closure. 
        <br/><br/>
        To appeal, you’ll need to write and submit a letter and/or email (it doesn’t have to be formal) to your counselor with today’s date stating you disagree with your case being closed. Should you submit your appeal in person, take down the name of the person you turned it in to and ask them for a copy for your records. 
      </p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
            I’m looking for resources for
            &bull; Legal advice
            &bull; Filing an ADA complaint
            &bull; Filing a discrimination complaint
            &bull; Home modifications
            &bull; Etc.
            
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>CAP has a statewide resource list. Contact us: <a href="tel:800-822-9727"><span class="visually-hidden">Toll-free telephone call state wide</span>(800) 822-9727</a> (toll-free), <a href="tel:404-373-2040"><span class="visually-hidden">Atlanta area</span>(404) 373-2040</a> or <a href="800-255-0135"><span class="visually-hidden">Georgia Relay Service</span>(800) 255-0135</a> (Georgia Relay Service)</p>

    </mat-expansion-panel>
            
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header  [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          GVRA says they are closing my case, but I still need services. What can I do?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>If you’re interested in becoming a CAP client, we can review your GVRA case file and negotiate on your behalf.  Please visit our “Resources” section to download & complete an Intake and Notice of Representation Form which can be submitted via:<br/>
        <strong>Email: </strong> <a href="mailto:GACAPDirector@georgiacap.com">GACAPDirector@georgiacap.com</a><br/>
        <strong>Fax:</strong> (404) 373-4110<br/>
        <strong>Mail:</strong> 123 N. McDonough Street Decatur, Georgia 30030</p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header  [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          My counselor is not responding to my phone calls or emails. Can you help?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Yes. However, if you haven’t already, contact GVRA’s Customer Care Unit (<a href="tel:844-367-4872"><span class="visually-hidden">GVRA’s Customer Care Unit</span>844-367-4872</a>) to inform them of your situation.<br/>If Customer Care doesn’t reestablish communication with your counselor, Contact us: <a href="tel:800-822-9727"><span class="visually-hidden">Toll-free telephone call state wide</span>(800) 822-9727</a> (toll-free), <a href="tel:404-373-2040"><span class="visually-hidden">Atlanta area</span>(404) 373-2040</a> or <a href="800-255-0135"><span class="visually-hidden">Georgia Relay Service</span>(800) 255-0135</a> (Georgia Relay Service)</p>

    </mat-expansion-panel>
                
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header  [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          I want to file a complaint about
          &bull; My counselor
          &bull; My provider
          &bull; GVRA            
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Contact GVRA’s Customer Care Unit (<a href="tel:844-367-4872"><span class="visually-hidden">GVRA’s Customer Care Unit</span>844-367-4872</a>) to inform them of your particular concern/situation.</p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header  [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
        I want to sue GVRA. Can CAP assist me?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>No, you’ll need to hire a personal attorney.  If you’re interested in becoming a CAP client, we can review your GVRA case file and negotiate on your behalf.  Please visit our “Resources” section to download & complete an Intake and Notice of Representation Form which can be submitted via:<br />
        <strong>Email: </strong> <a href="mailto:GACAPDirector@georgiacap.com">GACAPDirector@georgiacap.com</a><br/>
        <strong>Fax:</strong> (404) 373-4110<br/>
        <strong>Mail:</strong> 123 N. McDonough Street Decatur, Georgia 30030</p>

    </mat-expansion-panel>
                    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header  [class.darker-hover]="!panelOpenState">
        <mat-panel-title>
          Are CAP brochures available in alternative formats?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Yes, they’re available upon request.</p>

    </mat-expansion-panel>

  </mat-accordion>

  </mat-card-content>
</mat-card>